
{% extends "blog\base.html"%}
{% load static %}
{% block title %} Beyond IFRS {% endblock %}
{% block content %}
    <!-- Featured articles -->
     <section class="featured-articles featured-section-offset">
        <div class="featured-articles-container d-grid">
            <div class="featured-content d-grid">
                <div class="featured-header-container">
                <h3 class="headline fancy-border">
                    <span>Breaking News</span>
                </h3>
                <span>Apple announces a new partnership</span>
            </div>
            {%for post in recent%}
            <a href="#" class=" article featured-article featured-article-{{forloop.counter}}">
                <img src="{{ post.image.url }}" alt="" class=" article-img featured-{{forloop.counter}}">
                <span class="catergory">
                    {{post.cat}}
                </span>
                <div class="article-data-container">
                    <div class="article-details">
                        <span class="date"> {{post.published_at|date:"d M Y"}}</span>
                        <span class="article-data-span"></span>
                        <span class="reading-time"> 8 mins</span>
                        

                     </div>
                     <h3 class="article-headline">
                        {{post.title}}
                     </h3>

                </div>
                
            </a>
            {%endfor%}
         

            </div>
              <!-- sidebar -->
      <div class="sidebar d-grid">
            <h3 class="title">Trending news</h3>
            {%for post in trending%}
            <a href="#" class="trending-article-box">
                <div class="trending-img-container">
                    <span class="trending-article-number">0{{forloop.counter}}</span>
                    <img src="{{ post.image.url }}" alt="" class="article-img trending-img">

                </div>
                <div class="trending-article-details">
                    <div class="article-details">
                        <span class="date"> {{post.published_at|date:"d M Y"}}</span>
                        <span class="article-data-span"></span>
                        <span class="reading-time"> 8 mins</span>
                        

                    </div>
                    <h3 class="article-headline">
                    {{post.title}}
                    </h3>
                </div>
            </a>
            {%endfor%}
          
                

                
                
                
        
      
           
            
        </div>
       
     </section>
    
    
    <!-- Quick read -->
     <section class="quick-read section">
        <div class="section-container">
            <h2 class="section-title" data-name="Quick read">Quick read</h2>
            <div class="swiper">
                <div class="swiper-wrapper">
                    {%for post in quick %}
                    <a href="#" class=" article swiper-slide">
                        <img src="{{ post.image.url }}" alt="" class="article-img">
                        
                        <div class="article-data-container">
                            <div class="article-details">
                                <span class="date"> {{post.published_at|date:"d M Y"}}</span>
                                <span class="article-data-span"></span>
                                <span class="reading-time"> 8 mins</span>
                                

                            </div>
                            <h3 class="article-headline">
                                {{post.title}}
                            </h3>

                        </div>
                        
                    </a>
                    {%endfor%}
                  
                    

                </div>
                <div class="swiper-button-prev swiper-controls"></div>
                <div class="swiper-button-next swiper-controls"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

     </section>

    <!-- Older posts -->
     <section class="older-section section">
        <div class="section-container">
            <h2 class="title section-title" data-name="Older posts">Older posts</h2>
            <div class="older-posts-wrapper d-grid" >
                {%for post in older %}
                 <a href="#" class="article d-grid">
                        <div class="older-post-img-wrapper">
                            <img src="{{ post.image.url }}" alt="" class="article-img">

                        </div>
                        
                        <div class="article-data-container">
                            <div class="article-details">
                                <span class="date"> {{post.published_at|date:"d M Y"}}</span>
                                <span class="article-data-span"></span>
                                <span class="reading-time"> 8 mins</span>
                                

                            </div>
                            <h3 class="article-headline">
                                {{post.title}}
                            </h3>
                            <p> {{post.content|truncatechars:250}}</p>

                        </div>
                        
                    </a>
                    {%endfor%}
                    <!-- <a href="#" class="article d-grid">
                        <div class="older-post-img-wrapper">
                            <img src="{% static 'blog\images\older_posts\older_posts_2.jpg'%}" alt="" class="article-img">

                        </div>
                        
                        <div class="article-data-container">
                            <div class="article-details">
                                <span class="date"> 5 Dec 2025</span>
                                <span class="article-data-span"></span>
                                <span class="reading-time"> 8 mins</span>
                                

                            </div>
                            <h3 class="article-headline">
                                is VR the future
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore hic quam ipsa ex obcaecati, in, ullam, deleniti nemo non id harum reiciendis. </p>

                        </div>
                        
                    </a>
                    <a href="#" class="article d-grid">
                        <div class="older-post-img-wrapper">
                            <img src="{% static 'blog\images\older_posts\older_posts_3.jpg'%}" alt="" class="article-img">

                        </div>
                        
                        
                        <div class="article-data-container">
                            <div class="article-details">
                                <span class="date"> 5 Dec 2025</span>
                                <span class="article-data-span"></span>
                                <span class="reading-time"> 8 mins</span>
                                

                            </div>
                            <h3 class="article-headline">
                                is VR the future
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore hic quam ipsa ex obcaecati, in, ullam, deleniti nemo non id harum reiciendis. </p>

                        </div>
                        
                    </a>
                    <a href="#" class="article d-grid">
                        <div class="older-post-img-wrapper">
                            <img src="{% static 'blog\images\older_posts\older_posts_4.jpg'%}" alt="" class="article-img">

                        </div>
                        
                        
                        <div class="article-data-container ">
                            <div class="article-details">
                                <span class="date"> 5 Dec 2025</span>
                                <span class="article-data-span"></span>
                                <span class="reading-time"> 8 mins</span>
                                

                            </div>
                            <h3 class="article-headline">
                                is VR the future
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore hic quam ipsa ex obcaecati, in, ullam, deleniti nemo non id harum reiciendis. </p>

                        </div>
                        
                    </a>
                    <a href="#" class="article d-grid">
                        <div class="older-post-img-wrapper">
                            <img src="{% static 'blog\images\older_posts\older_posts_5.jpg'%}" alt="" class="article-img">

                        </div>
                        
                        
                        <div class="article-data-container">
                            <div class="article-details">
                                <span class="date"> 5 Dec 2025</span>
                                <span class="article-data-span"></span>
                                <span class="reading-time"> 8 mins</span>
                                

                            </div>
                            <h3 class="article-headline">
                                is VR the future
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempore hic quam ipsa ex obcaecati, in, ullam, deleniti nemo non id harum reiciendis. </p>

                        </div>
                        
                    </a> -->

            </div>
            <div class="see-more-wrapper">
                <a href="#" class="btn see-more-btn place-items-center">
                    See more <i class="ri-arrow-right-s-line"></i>
                </a>
            </div>
            
        </div>

     </section>
    
    <!-- Popular tags -->
     <section class="popular-tags-section section">
        <div class="section-container">
            <h2 class="title section-title" data-name="Popular tags">Popular tags</h2>
            <div class="popular-tag-wrapper d-grid" >
                 <a href="#" class="article">
                    <span class="tag-name">#Travel</span>
                    <img src="{%static 'blog\images\tags\travel-tag.jpg'%}" alt="" class="article-img">

                </a>
                <a href="#" class="article">
                    <span class="tag-name">#Food</span>
                    <img src="{%static 'blog\images\tags\food-tag.jpg'%}" alt="" class="article-img">

                </a>
                <a href="#" class="article">
                    <span class="tag-name">#Technology</span>
                    <img src="{%static 'blog\images\tags\technology-tag.jpg'%}" alt="" class="article-img">

                </a>
                <a href="#" class="article">
                    <span class="tag-name">#Nature</span>
                    <img src="{%static 'blog\images\tags\nature-tag.jpg'%}" alt="" class="article-img">

                </a>
                <a href="#" class="article">
                    <span class="tag-name">#Health</span>
                    <img src="{%static 'blog\images\tags\health-tag.jpg'%}" alt="" class="article-img">

                </a>
                <a href="#" class="article">
                    <span class="tag-name">#Fitness</span>
                    <img src="{%static 'blog\images\tags\fitness-tag.jpg'%}" alt="" class="article-img">

                </a>
            </div>

        </div>
     </section>

    <!-- Newsletter -->
     <section class="newsletter-section section">
        <div class="section-container">
             <h2 class="title section-title" data-name="Newsletter">Newsletter</h2>
             <div class="inner-container">
                <h6 class="title newsletter-title">Subscribe to Beyond IFRS newsletter</h6>
                <p class="newsletter-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempore praesentium odio ipsum corporis tempora, porro atque sed, illo,
                     rerum perspiciatis soluta cupiditate eligendi velit!
                      Doloremque quidem vitae dolorum cupiditate ipsam.</p>
                
             </div>
             <form class="form form-container-inner" action="#" method="post">
                <input type="text" class="form-input">
                <button class="btn form-btn" type="submit">
                    <i class="ri-mail-send-line"></i>

                </button>

             </form>

        </div>
     </section>
{%endblock%}
    