{% extends "blog\base.html"%}
{%load static%}
{% block content%}
     <section class=" blog-post featured-section-offset">
        <div class="blog-post-container section-container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">{{ post.title}}</h3>
                <div class="article-details">
                    <span>{{ post.published_at}}</span>
                    <span class="article-data-span"></span>
                    <span>4 Min read</span>
                </div>
                <img src="{{ post.image.url}}" alt="">
            </div>

            <div class="section-container">
                <p>
                   {{ post.content}}
                </p>
                
                

                <!-- <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptates, laboriosam voluptatum quos non consequuntur nesciunt necessitatibus tempora quod inventore corporis rem nihil itaque, at provident minus aliquam veritatis. Labore?  <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
             -->
                

                <!-- <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="{% static 'blog\images\author.jpg'%}" alt="" class="article-img">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">John Doe</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quis repellat rerum, possimus cumque dolor repellendus eligendi atque explicabo exercitationem id.</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="#" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="#" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="#" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>

     </section>

  

   
    
  

  
  
{%endblock%}

